# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
.caches/
dist/
build/
coverage/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
ENV/
venv/
build/
dist/
.eggs/
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.coverage*

# VS Code
.vscode/
.history/

# Logs
*.log
